{% extends "base.html" %}
{% block content %}

{% import "macros/forms.html" as forms %}
<h1>Chores</h1>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

{% if error %}
<div class="alert alert-warning">
    {{error}}
</div>
{% endif %}

<table class="table table-bordered table-striped">
    <tr>
        <th>Chore</th>
        <th>Category</th>
        <th>Priority</th>
        <th></th>
    </tr>
    <tbody>
        {% for chore in chores %}
        <tr>
            <td><a href="{{base_path}}/chore/{{chore.id}}">{{chore.name}}</td>
            {% if chore.class %}
            <td>{{chore.class}}</td>
            {% else %}
            <td></td>
            {% endif %}
            <td>{{chore.priority}}</td>
            {% if chore.status %}
            <td>
                <label class="label label-success">Finished</label>

                {{forms.delete_button("#{base_path}/chore/#{chore.id}/delete", "Delete Chore")}}
            </td>
            {% else %}
            <td>
                <form method ="post" action="{{base_path}}/chore/{{chore.id}}/finish">
                    <button type="submit" class="btn btn-success">Finish!</button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}

    </tbody>


</table>

<p>
    <a href="{{base_path}}/chore/new" class="btn btn-primary">New Chore</a>
</p>

{% endblock %}