{% extends "base.html" %}
{% block content %}

<!-- Yksittäisen askareen esittelysivu, jossa voi myös muokata askareen tietoja -->

{% import "macros/forms.html" as forms %}
<h1>{{chore.name}}</h1>

<!-- Mahdollisten viestien ja virheiden näyttäminen -->
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


<!-- Askareen statuksen muokkaaminen. Voi ainoastaan asettaa tekemättömän askareen tehdyksi -->
<table class="table table-hover">
    <tr>
        <th>Status</th>
        {% if chore.status %}
        <!-- Askare on suoritettu -->
        <td><label class="label label-success">Finished</label></td>
        <td></td>
        {% else %}
        <!-- Askaretta ei ole tehty, annetaan mahdollisuus merkitä se tehdyksi -->
        <td><label class="label label-warning">Unfinished</label></td>
        <td>
            <form method ="post" action="{{base_path}}/chore/{{chore.id}}/finish">
                <button type="submit" class="btn btn-success">Finish!</button>
            </form>
        </td>
        {% endif %}
    </tr>
</table>

<!-- Askareen tietojen esittely, ja muokkaamislomake -->
<form method="post" action="{{base_path}}/chore/{{chore.id}}">
    <div class="form-group">
        <label>Name</label>
        <input name="name" class="form-control" value={{chore.name}}>
    </div>
    <div class="form-group">
        <label>Priority: {{chore.priority}}</label>
        <select name="priority" class="form-control" id="sell">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <!-- Joudutaan etsimään käyttäjän kategoroista oikea kategoria askareen kategoria-id:n perusteella -->
        <label>Category: {% for cat in categories %}
                            {% if chore.category_id == cat.id %}
                                {{cat.name}}
                            {% endif%}
                         {% endfor %}
        </label>
        <select name="category" class="form-control" id="sell">
            {% for cat in categories %}{{chore.category_id}}
                
                <option value="{{cat.id}}">{{cat.name}}</option>
                
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>

<!-- Poistonappi -->
{{forms.delete_button("#{base_path}/chore/#{chore.id}/delete", "Delete Chore")}}

{% endblock %}