{% extends "base.html" %}
{% block content %}

{% import "macros/forms.html" as forms %}
<h1>{{chore.name}}</h1>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}



<table class="table table-hover">
    <tr>
        <th>Status</th>
        {% if chore.status %}
        <td><label class="label label-success">Finished</label></td>
        <td></td>
        {% else %}
        <td><label class="label label-warning">Unfinished</label></td>
        <td>
            {{forms.finish_button()}}
        </td>
        {% endif %}
    </tr>
</table>

<form method="post" action="{{base_path}}/chore/{{chore.id}}">
    <div class="form-group">
        <label>Name</label>
        <input name="name" class="form-control" value={{chore.name}}>
    </div>
    <div class="form-group">
        <label>Priority: {{chore.priority}}</label>
        <select name="priority" class="form-control" id="sell">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label>Category: {{chore.category_id}}</label>
        <select name="category" class="form-control" id="sell">
            <option>{{chore.category_id}}</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>

{{forms.delete_button("#{base_path}/chore/#{chore.id}/delete", "Delete Chore")}}

{% endblock %}