{% extends "base.html" %}
{% block content %}
<h1>Login</h1>
<!-- Kirjautumisikkuna -->

<!-- Mahdolliset viestit ja virheilmoitukset -->
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}
{% if error %}
<div class="alert alert-danger">
    {{error}}
</div>
{% endif %}

<!-- Kirjautumisen tekstikentät, nimensä mukaisesti käyttäjätunnus ja salasana, sekä kirjautumisnappi -->
<form method="post" action="{{base_path}}/login">
    <div class="form-group">
        <label>Username</label>
        <input class="form-control" name="name" value="{{username}}" type="text">
    </div>

    <div class="form-group">
        <label>Password</label>
        <input class="form-control" name="password" type="password">
    </div>

    <button type="submit" class="btn btn-primary">Log in</button>
</form>

<form method="get" action="{{base_path}}/register">
    <div>
        <button type="submit" class="btn btn-default">Register</button>
    </div>
</form>
{% endblock %}